:root {
    --background-color: #212020;
    --footer-background-color: #2C2C2E;
    --text-primary-color: #FFFFFF;
    --text-secundary-color: #DA5C5C;
    --text-alternative-calor: #C8C8C8;
    --object-color: #252525;
}

html {
    scroll-behavior: smooth;
  }

* {
    font-family: "Nunito", serif;
    background-color: var(--background-color);
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.8rem;
}

.navbar .left .title {
    color: var(--text-alternative-calor);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.navbar .right {
    display: flex;
    gap: 2rem;
}

.navbar .right .btn-nave {
    color: var(--text-alternative-calor);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}


.presentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 19rem 0;
    max-height: 20vh;
}

.presentation .left {
    display: flex;
    flex-direction: column
}

.presentation .left p {
    margin: 0;
    padding: 0;
}

.presentation .left .name {
    color: var(--text-alternative-calor);
    font-weight: 500;
    font-size: 1.7rem;
    z-index: 1;
    margin-left: 0.4rem;
    margin-bottom: -1.3 rem;
}

.presentation .left .t1 {
    color: var(--text-primary-color);
    font-weight: 800;
    font-size: 7rem;
    margin-bottom: -2rem;
}

.presentation .left .t2 {
    color: var(--text-secundary-color);
    font-weight: 800;
    font-size: 7rem;
}

/* .presentation .right svg {
    display: flex;
    fill: var(--text-primary-color);
    width: 15rem;
    height: 15rem;
} */

#foto{
    max-width: 70%; /* Reduz o tamanho, mas mantém a proporção */
    max-height: 70%;
    display: flex;
    justify-self: center;
    border-radius: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 7rem 9rem;
}

#about{
    scroll-margin-top: 15rem;
  }

.about .subtitle {
    color: var(--text-primary-color);
    font-size: 2.8rem;
    font-weight: 800;
    margin-left: 2rem;
}

.about .subtitle p {
    margin: 0;
}

.about .content {
    color: var(--text-primary-color);
    display: flex;
    gap: 6rem;
}

.about .content .left,
.about .content .right {
    flex: 1;
}

.about .content .left {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    padding: 2rem 2rem;
}

.about .content .right {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--object-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about .content .right .sub {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
    background-color: var(--object-color);
}

.about .content .right .text {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0;
    background-color: var(--object-color);
}

.about .content .right .text li{
    background-color: var(--object-color);
    list-style-position: outside;
}

.about .content .right .text li::marker{
    content: "• ";
}

.about .content .right .text .custom-marker::marker{
    content: "- "; 
    font-size: 1.7rem; 
}

.about .content .right .text .custom-marker{
    margin-left: 20px;
}

.projects{
    display: flex;
    flex-direction: column;
    margin: 15rem 1rem;
}

#projects {
    scroll-margin-top: 6em;
  }

.projects .subtitle{
    color: var(--text-primary-color);
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.projects .content{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.projects .content .card .img{
    width: 33rem;
    height: 33rem;
    border-radius: 100%;
    object-fit: scale-down;
    background-color: black;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
}



.projects .content .card .img img{
    object-fit: scale-down;
    display: block;
    margin: auto;
}

.projects .content .card:hover .img{
    width: 33rem;
    height: 37rem;
    border-radius: 5%;
    object-fit: scale-down;
    background-color: black;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.projects .content .card:hover .description .nameproject, .projects .content .card:hover .description .languageproject{
    font-size: 2.5rem;
    display: flex;
    font-weight: 800;
    justify-content: center;
    margin: 0;
    transition: 0.3s;
    cursor: pointer;
}


#todolist{
    max-width: 70%; /* Reduz o tamanho, mas mantém a proporção */
    max-height: 70%;
    margin: auto;
    background-color: black;
}

#calculator{
    max-width: 70%; /* Reduz o tamanho, mas mantém a proporção */
    max-height: 70%;
    margin: auto;
    background-color: black;
}

.projects .content .card .description .nameproject, .projects .content .card .description .languageproject{
    font-size: 2.3rem;
    display: flex;
    font-weight: 800;
    justify-content: center;
    margin: 0;
    transition: 0.3s;
}

.projects .content .card .description .nameproject{
    color: var(--text-primary-color);
}

.projects .content .card .description .languageproject{
    color: var(--text-secundary-color);
}

.contacts{
    display: flex;
    flex-direction: column;
    margin: 17rem 10rem;
}

.contacts .subtitle{
    color: var(--text-primary-color);
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.contacts .content {
    color: var(--text-primary-color);
    display: flex;
    gap: 6rem;
}

.contacts .content .left,
.contacts .content .right {
    flex: 1;
}

.contacts .content .left{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.contacts .content .right{
    display: flex;
    gap: 3rem;
}

.contacts .content .right .socialmedia a{
    text-decoration: none;
    color: var(--text-primary-color);
    display: flex;
}

.contacts .content .right .socialmedia .icon svg {
    display: flex;
    fill: var(--text-primary-color);
    width: 4rem;
    height: 4rem;
}

.contacts .content .right .socialmedia{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.contacts .content .right .socialmedia .acount{
    display: flex;
    align-items: center;
    margin: 0 0 0 1rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background-color);
    padding: 3rem;
    gap: 2rem;
}

.footer .links{
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    justify-content: center;
    background-color: var(--footer-background-color);
    gap: 6rem;
}

.footer .links a{
    text-decoration: none;
    color: var(--text-primary-color);
    background-color: var(--footer-background-color);
}

.footer .author{
    display: flex;
    color: var(--text-alternative-calor);
    background-color: var(--footer-background-color);
    font-size: 1.4rem;
    font-weight: 500;
    justify-content: center;
}

.footer .author .name{
    background-color: var(--footer-background-color);
}